<!DOCTYPE >
<html>
	<head>
		<title>Codigo-Jade</title>
		<meta charset="UTF-8"/>
		<link href="css/contact.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<div class="fondo">
				<div class="head">
				<div id="logo">
                                        <img src="/assets/icons/logo.png"/>
				</div>
			<div class="top">
				<div class="idioma">
					<a class="ingles" href="#">english</a> / <a class="espanol"href="#">español</a>
				</div>
				<div class="redes">
					<div id="fb">
						<a href="#"><a href="#"><img id="center"src="/assets/icons/fb.png"/></a>
					</div>
					<div id="twt">
						<a href="#"><img id="center" src="/assets/icons/basics (15).png"/></a>
					</div>
					<div id="google">
						<a href="#"><img id="center" src="/assets/icons/basics (16).png"/></a>
					</div>
					<div id="jade">
						<a href="#"><img id="center" src="/assets/icons/basics (17).png"/></a>
					</div>
				</div>
					<div class="menu">
						<div id="services">
							<a href="index.html"><p id="sv">services</p></a>
						</div>
						<div id="about">
							<a href="about.html"><p id="at">about us</p></a>
						</div>
						<div id="contact">
							<a href="contact.html"><p id="ct">contact</p></a>
						</div>
					</div>
				</div>
			</div>
											<!-- Aquí comienza la web -->
	<div id="extra"></div>
<div class="formulario">
<form>
	<div class="name_formulario">
		<h1 class="head">want to hire us?</h1>
		<h2 id="headers">name</h2>
		<input type="text" class="name_input" name="name" placeholder="Type Name Here"><br>
	</div>
	<div class="mail_formulario">
		<h2 id="headers">mail</h2>
		<input type="email"  class="name_input" name="email" placeholder="Type Email Here"><br>
	</div>
	<div class="project_formulario">
		<h2 id="headers">project</h2>
		<textarea id="no_resize" placeholder="Type Project Here"></textarea><br>
	</div>

<input id="submit" type="submit" value="Submit"></b>
</form>
</div>										
											<!-- Segundo cuadro -->
<div class="secret">
	<div class="head_secret">
		<p>jade's secret base</p>
	</div>
	<div class="description_secret">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
		et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
	</div>
</div>
											<!-- footer -->
<div id="extra"></div>
		</div>
		<div class="footer">
			<div class="area1">
				<div id="extra"></div>
					<p class="up">codigo jade</p>
					<a href="#"><p class="links">About Us</p></a>
					<a href="#"><p class="links">Jobs</p></a>
					<a href="#"><p class="links">Opensource</p></a>
			</div>
			<div class="area2">
				<div id="extra"></div>
					<p class="up">social jade</p>
					<a href="#"><p class="links">facebook</p></a>
					<a href="#"><p class="links">twitter</p></a>
					<a href="#"><p class="links">google plus</p></a>
			</div>
			<div class="area3">
				<div id="extra"></div>
					<p class="up">blog jade</p>
					<a href="#"><p class="links">[lorem ipsum dolor sit amet, consectetur adipiscing]</p></a>
					<a href="#"><p class="links">[sit amet, consectetur adipiscing]</p></a>
					<p class="copy">&copy 2009-2014 codigo jade. all rights reserved.</p>
			</div>
		</div	
	</body>
</html>
